body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#chat {
  margin: 20px;
  margin-top: 35px;
  height: 620px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#chat > * {
  width: 65%;
  padding: 15px;
  margin: 5px;
}
#chat > input[type=text] {
  border-radius: 3.5px;
}
#chat .chat--title {
  padding: 0;
  font-size: 22px;
}
#chat .chat--title .chat--title-items {
  display: flex;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
}
#chat .chat--title .chat--title-items .items--left {
  width: 50%;
  text-align: left;
}
#chat .chat--title .chat--title-items .items--left .items--left-call {
  padding: 0;
  margin: 0;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: 500;
}
#chat .chat--title .chat--title-items .items--right {
  width: 50%;
  text-align: right;
}
#chat .chat--title .chat--title-items .items--right .items--right-interaction {
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 9.5px;
  font-weight: 500;
}
#chat .chat--title .chat--title-items .items--right .items--right-interaction a {
  font-weight: 600;
}
#chat .chat--title .chat--title-items .items--right .items--right-lightmode, #chat .chat--title .chat--title-items .items--right .items--right-darkmode {
  transition: transform 10ms;
}
#chat .chat--title .chat--title-items .items--right .items--right-lightmode:hover, #chat .chat--title .chat--title-items .items--right .items--right-darkmode:hover {
  transform: scale(1.1);
  cursor: pointer;
}
#chat .chat--title .chat--title-items .items--right .items--right-lightmode:active, #chat .chat--title .chat--title-items .items--right .items--right-darkmode:active {
  cursor: default;
}
#chat .chat--messages {
  flex-grow: 1;
  font-size: 14px;
  border-radius: 3.5px;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-wrap: break-word;
}
#chat .chat--messages .chat--messages-title {
  margin: 0;
  font-size: 10px;
}
#chat .chat--messages .chat--messages-single {
  margin: 10px;
}
#chat .chat--messages .chat--messages-single > strong {
  margin: 0;
}
#chat .chat--messages .chat--messages-single .single--dateTime {
  font-size: 12px;
  opacity: 0.4;
}
#chat .chat--messages .chat--messages-single .single--author {
  margin: 0 0 0 6px;
  padding: 2px 7.5px;
  border-radius: 3.5px;
  font-weight: 600;
  font-size: 12px;
}
#chat .chat--messages .chat--messages-single .single--message-notification {
  font-size: 12px;
  opacity: 0.4;
}
#chat .chat--suggestions {
  margin: 0 0 7.5px 0;
  padding: 0 0 2.5px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}
#chat .chat--suggestions::-webkit-scrollbar {
  height: 3.5px;
}
#chat .chat--suggestions > * {
  padding: 10px 20px;
  margin: 15px 5px;
}
#chat .chat--suggestions span {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  font-size: 12px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: rgba(69, 69, 69, 0.1);
  cursor: pointer;
}
#chat .chat--suggestions span:hover {
  background-color: rgba(18, 18, 18, 0.5);
}
#chat .chat--suggestions span:active {
  cursor: grabbing;
  background-color: rgba(0, 0, 0, 0.8);
}
#chat .chat--btn-submit {
  border-radius: 3.5px;
}
#chat .chat--footer {
  margin: 0;
  padding: 0;
  font-size: 10px;
  text-align: center;
  padding-top: 15px;
}

.tippy-tooltip {
  font-size: 1px !important;
}

@media screen and (max-width: 700px) {
  #chat > * {
    width: 100%;
  }
  #chat .chat--messages .chat--messages-title {
    font-size: 10px;
  }
  #chat .chat--messages .chat--messages-single {
    font-size: 12px;
  }
  #chat .chat--title .chat--title-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 110px;
  }
  #chat .chat--title .chat--title-items .items--left {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
  }
  #chat .chat--title .chat--title-items .items--right {
    width: 100%;
    text-align: center;
  }
  #chat .chat--title .chat--title-items .items--right .items--right-interaction {
    line-height: 30px;
  }
}
@media screen and (max-width: 350px) {
  #chat > * {
    width: 100%;
  }
  #chat .chat--title .chat--title-items {
    margin-bottom: 35px;
  }
  #chat .chat--title .chat--title-items .items--right .items--right-interaction {
    line-height: 25px;
  }
}/*# sourceMappingURL=style.css.map */