body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#chat{
    margin: 20px;
    margin-top: 35px;
    height: 620px;
    display: flex;
    align-items: center;
    flex-direction: column;

    & > * {
        width: 65%;
        padding: 15px;
        margin: 5px;
    }

    & > input[type='text']{
        border-radius: 3.5px;
    }

    .chat--title{
        padding: 0;
        font-size: 22px;
       
        .chat--title-items{
            display: flex;
            align-items: center;
            height: 40px;
            margin-bottom: 10px;

            .items--left{
                width: 50%;
                text-align: left;

                .items--left-call{
                    padding: 0;
                    margin: 0;
                    font-size: 14px;
                    letter-spacing: 0.1px;
                    font-weight: 500;
                }
            }

            .items--right{
                width: 50%;
                text-align: right;

                .items--right-interaction{
                    margin: 0;
                    padding: 5px 0 0 0;
                    font-size: 9.5px;
                    font-weight: 500;

                    a {
                        font-weight: 600;
                    }
                }
                
                .items--right-lightmode,.items--right-darkmode{
                    transition: transform 10ms;

                    &:hover{
                        transform: scale(1.1);
                        cursor: pointer;
                    }

                    &:active{
                        cursor: default;
                    }
                }
            }
        }
    }

    .chat--messages{
        flex-grow: 1;  
        font-size: 14px;
        border-radius: 3.5px; 
        overflow-y: auto;    
        overflow-x: hidden;
        overflow-wrap: break-word;

        .chat--messages-title{
            margin: 0;
            font-size: 10px;
        }

        .chat--messages-single{
            margin: 10px;
            
            & > strong{
                margin: 0;
            }

			.single--dateTime{
                font-size: 12px;
                opacity: 0.4;
            }
            
            .single--author{
                margin: 0 0 0 6px;
                padding: 2px 7.5px;
                border-radius: 3.5px; 
                font-weight: 600;
                font-size: 12px;
            }

            .single--message-notification{
                font-size: 12px;
                opacity: 0.4;
            }
        }
    }

    .chat--suggestions{
        margin: 0 0 7.5px 0;
        padding: 0 0 2.5px 0;
        
        display: flex;
        flex-direction: row;
        align-items: center;

        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
         
        &::-webkit-scrollbar{
            height: 3.5px;
        }

        & > *{
            padding: 10px 20px;
            margin: 15px 5px;
        }
        
        span{
            border: 1px solid rgba(#ffffff, 0.2);
            border-radius: 15px;
            font-size: 12px;
            user-select: none;

            $color: #454545;
            background-color: rgba($color, 0.1);
            cursor: pointer;

            &:hover{
                background-color: rgba(darken($color, 20%), 0.5);
            }

            &:active{
                cursor: grabbing;
                background-color: rgba(darken($color, 50%), 0.8);
            }
        }
    }

    .chat--btn-submit {
        border-radius: 3.5px;
    }

    .chat--footer{
        margin: 0;
        padding: 0;
        font-size: 10px;
        text-align: center;
        padding-top: 15px;
    }
}

.tippy-tooltip {
	font-size: 1px !important;
}

@media screen and (max-width: 700px) {
    #chat{
        & > * {
            width: 100%;
        }

        .chat--messages{
            .chat--messages-title{
                font-size: 10px;
            }
    
            .chat--messages-single{
                font-size: 12px;
            }
        }

        .chat--title{
            .chat--title-items{
                display: flex;
                align-items: center;
                flex-direction: column;
                padding-bottom: 110px;
                
                .items--left{
                    width: 100%;
                    text-align: center;
                    margin-bottom: 12px;
                }

                .items--right{
                    width: 100%;
                    text-align: center;

                    .items--right-interaction{
                        line-height: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    #chat{
        & > * {
            width: 100%;
        }

        .chat--title{
            .chat--title-items{
                margin-bottom: 35px;
                
                .items--right{
                    .items--right-interaction{
                        line-height: 25px;
                    }
                }
            }
        }
    }
}