:root,
:root.darkmode {
    --bg-icon-lightmode: #d4d41a;
    --bg-icon-darkmode:  #3a3ae6;
    
    --bg:                  #181818;
    --bg-input:            #0A0A0A;
    --bg-btn-submit:       #212121;
    --bg-btn-submit-hover: #131313;
    --bg-btn-submit-focus: #0A0A0A;
    --bg-scrollbar:        #3e3e3e;
    --bg-scrollbar-thumb:  #838383;
    
    --text:            #ffffff;
    --text-secondary:  #6c6c6c;
    --text-shadow:     #1b1b1b;
    --text-link-hover: #8a8a8a;
    --text-username:   #ffffff;
}

:root.lightmode{
    --bg-icon-lightmode: #f5a510;
    
    --bg:                  #fcfcfc;
    --bg-input:            #d4d4d4; 
    --bg-btn-submit:       #b3b3b3;
    --bg-btn-submit-hover: #cecece;
    --bg-btn-submit-focus: #d4d4d4; 
    --bg-scrollbar:        #212121;
    --bg-scrollbar-thumb:  #a9a9a9;
      
    --text:            #3b3b3b;
    --text-secondary:  #1b1b1b;
    --text-shadow:     #1b1b1b; 
    --text-link-hover: #a1a1a1;
    --text-username:   #ffffff;
}

body{
    background-color: var(--bg);
    color: var(--text);
}

#chat{
    & > input[type='text']:disabled{
        color: var(--text-secondary);
        cursor: no-drop;
    }
    
    .chat--messages, .chat--input-text{
        background-color: var(--bg-input);
        color: var(--text);
        border: none;
    }
    
    .chat--btn-submit{
        background-color: var(--bg-btn-submit);
        color: var(--text);
        border: none;

        &:hover{
            background-color: var(--bg-btn-submit-hover);
            cursor: pointer;
        }

        &:focus{
            background-color: var(--bg-btn-submit-focus);
            cursor: crosshair;
        }
    }
    
    .chat--messages-title{
        color: var(--text-secondary);
    }
    
    .chat--footer{
        color: var(--text-secondary);
    }
    
    .chat--messages-single{
        color: var(--text);

        span{
            text-shadow: 0.7px 0.7px var(--text-shadow);
            color: var(--text-username);
        }
    }
    
    .items--right-lightmode{
        color: var(--bg-icon-lightmode);
    }
    
    .items--right-darkmode{
        color: var(--bg-icon-darkmode);
    }

    .items--left-call{
        color: var(--text-secondary);
    }
    
    .items--right-interaction{
        color: var(--text-secondary);

        a{
            color: var(--text);
            cursor: pointer;
            text-decoration: none;

            &:hover{
                color: var(--text-link-hover);
            }
        }
    }
}

::-webkit-scrollbar{
    background-color: var(--bg-scrollbar);
    border-radius: 3.5px;
    width: 7.5px;
    height: 7.5px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--bg-scrollbar-thumb);
    border-radius: 3.5px;
}